services:
  frontend:
    build:
      context: .
      dockerfile: containers/frontend/Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
  
  backend:
    image: denoland/deno:2.0.0
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    working_dir: /app
    command: run -A --watch main.ts
